* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to bottom, blue, lightblue);
    min-height: 100vh;
    position: relative;
    padding-bottom: 60px;
    color: white;
}

header {
    color: white;
    padding: 21px;
    text-align: center;
}

main {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}
img {
    position: fixed;
    top: 0;
    left: 0;
    height: 80px;
    width: 80px;
}
table {
    margin-top:60;
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    background-color: transparent;
    color:bisque;
}

th, td {
    border: 1px solid whitesmoke;
    padding: 12px;
    text-align: center;
}

tr, td {
    text-align: left;
}

.hidden{
    display:none;
}

.grade-option{
    background-color: transparent;
    padding:8px;
    cursor: pointer;
    text-align: center;
}
.grade-option:hover {
    background-color: 0.0;
}
.grade-option.green{
    background-color: green;
    color: white;
}
.grade-option.lightgreen{
    background-color: rgb(52, 240, 52);
    color: white;
}
.grade-option.yellow{
    background-color: yellow;
    color: white;
}.grade-option.lightyellow{
    background-color: rgb(143, 107, 29);
    color: white;
}
.grade-option.red{
    background-color: red;
    color: white;
}

.button {
    position: absolute;
    bottom: 30px;
    right: 20px;
    padding: 10px 20px;
    text-decoration: none;
    background-color: white;
    color: blue;
    cursor: pointer;
}
.button:hover {
    background-color: rgb(192, 191, 191);
}